/* Resoluci贸n para Pantallas de Ordenador */
@media (min-width: 913px) {
    
}

/* Resoluci贸n para Pantallas de Tablet */
@media (min-width: 768px) and (max-width: 912px) {
    .row{
        display: block !important;
    }
    .Contenedor-Reservas{
        margin-top: 3vh;
    }
  }  

/* Resoluci贸n para Pantallas de Celulares */  
@media (max-width: 767px) {
    .TituloReservaParaDia{
        text-align: center ;
    }
    .Contenedor-Reservas{
        margin-top: 4vh;
        width: auto !important;

    }
}

/*Resoluci贸n para Pantallas de Celulares Fold*/
@media (max-width: 600px) {
    .Contenedor-Cantidad-Personas{
        font-size: 2.98vh !important;
    }
  }

.Contenedor-Reservas{
    background-color: #F1F1F1;
    padding: 3vh;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.2);
    width: max-content;

}

.Contenedor-Fecha{
    border-bottom: solid 1px black;
}

.Ubicar-Contenedor-Reservas{
    min-height: 50vh;
    margin-top: 10vh;
}

.modal-backdrop{
    z-index: 1 !important;
}