.reservation-main {
  height: 100vh; 
  padding-top: 80px;
  justify-content: center;
  background-image: url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.reservation-container {
  width: 75%;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  border: 4px solid #B08D59;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-image: url(https://images.pexels.com/photos/3887985/pexels-photo-3887985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
  background-position: center center;
  
}


.input-reservation{
  border: 1px solid #B08D59;
  outline: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #B08D59;
  }
  

}

.reservation-boton{
  background-color: #B08D59;
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
  border: 1px solid #B08D59;
}
.react-datepicker-wrapper{
  width: 100%;
} 

@media screen and (max-width: 768px) {
  .reservation-container {
    padding-top: 30px;
  }
}

