.reservation-main {
  height: 100vh; /* Altura del 100% del viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-container {
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputReservation{
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 0;
}
