

.Imagen-Fondo,
.Imagen-Fondo h1,
.Imagen-Fondo h3 {
  color: #F1F1F1;
}
.Imagen-Fondo{
  background-image: url('https://live.staticflickr.com/65535/53058334730_918066df47_o.jpg'); /* Ruta a tu imagen de fondo */
  background-position: center;
  margin-top: 22vh;
}

.Fondo-Oscuro{
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
}

@media (min-width: 913px) {
    h1{
        font-size: 12vh !important;
    }
    h3{
        font-size: 4vh !important;
    }
    .Imagen-Fondo{
        height: 80vh;
        background-size: 40%;
        background-repeat: no-repeat;
    }
    .Cuerpo-Error{
        padding: 0 20vh 0 20vh;
    }
  }

@media (max-width: 767px) {
    h1{
        font-size: 6vh !important;
    }
    h3{
        font-size: 3vh !important;
    }
    .Imagen-Fondo{
        height: 90vh;
        background-size: 150%;
        background-repeat: no-repeat;
    }
    .Cuerpo-Error{
        padding: 0 5vh 0 5vh;
    }
  }

@media (min-width: 768px) and (max-width: 912px) {
    h1{
        font-size: 7vh !important;
    }
    h3{
        font-size: 4vh !important;
    }
    .Imagen-Fondo{
        height: 90vh;
        background-size: 120%;
        background-repeat: no-repeat;
    }
    .Cuerpo-Error{
        padding: 0 7vh 0 7vh;
    }
  }
  
  .btn-Volver {
    display: inline-block;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    border: 2px solid #B08D59 !important;
    background-color: #F0E5D8 !important;
    color: black !important;
    white-space: nowrap;
}

.btn-Volver:hover {
    color: #F0E5D8 !important;
}

.btn-Volver:hover::after {
    width: 100%;

}

.btn-Volver::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 1s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;

    background: #B08D59 !important;
}  