body {
    background-image: url(../../../public/contactofondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container{
}

.container2{
    width: 80%;
    margin: 0% auto 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    /*background-color: rgba(51, 51, 51, 0.76);*/
    background-image: url(../../../public/contactoTexturaMadera.avif);
    border-radius: 30px;
    box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
}

.header{
    background-color: white;
}

.banner{
    grid-column: 1/3;
    padding: 5%;
    color: white;
}

.banner p{
    font-size: 4rem;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.87);
}

.parrafo{
    grid-column: 1/3;
    color: white;
}

.mapa{
    grid-column: 2/3;
    
}

.formContacto{
    grid-column: 1/2;
    color: white;
}

.footer{
}

@media only screen and (max-width: 600px) {
    .container2{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: rgba(0, 0, 0, 0.596);
        border-radius: 0px;
    }

    .banner{
        display: none;
    }

    .formContacto{
        grid-column: 1/3;
    }

    .mapa{
        grid-column: 1/3;
    }
  }