.body-galeriaclaro{
    background-color: #B08D59;
}

.body-galeriaoscuro{
    background-color: #191919;
}

.titulo-galeria{
    color: white;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.1);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    grid-auto-rows: minmax(200px,auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}


.img-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.img-2{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;

}

@media (min-width: 600px){
    .wide{
        grid-column: span 2;
    }
    
    .tall{
        grid-row: span 2;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    z-index: 999;
  }
  
  .modal-content {
    max-width: 60%;
    max-height: 60%;
    position: relative;
  }
  
  .imagen-ampliada {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 200;
  }
  
  .boton-cerrado {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 150px;
  }

  @media (max-width: 1000px){
    .modal-content{
        max-width: none;
        margin-top: 100px !important;
    }
    .boton-cerrado{
        top: 5px;
        right: 5px;
    }
}