.custom-navbar{
    height: 110px;
    z-index: 100 !important;
}
.custom-navbar .botones{
    border-bottom: 3px solid white;
}

.custom-navbar .botones:hover{
    border-bottom: 3px solid #B08D59;
}

.custom-navbar .boton-reserva{
    background-color: black;

}

.custom-navbar .boton-reserva:hover{
    background-color: #B08D59;
}

@media (max-width: 1000px ){
    .custom-navbar .botones:hover{
        border-bottom: none;
    }
    .custom-navbar .botones{
        border-bottom: 3px solid white;
    }
    .collapse-custom{
        background-color: white;
    }
}


@media (max-width: 350px ){
  .logo-custom{
    width: 180px;
  }
}

@media (max-width: 1100px){
    .botones-izquierda{
        left: 10px !important;
    }
}

.boton-izq-custom:hover{
    transform: scale(1.04);
}
