/* Resolución para Pantallas de Ordenador */
@media (min-width: 913px) {
    .Contenedor-Cuerpo{
        padding: 5vh 35vh 15vh 35vh;
    }
  }

/* Resolución para Pantallas de Tablet */
@media (min-width: 768px) and (max-width: 912px) {
    .Contenedor-Cuerpo{
        padding: 5vh 3vh 5vh 3vh;
    }
  }  

/* Resolución para Pantallas de Celulares */  
@media (max-width: 767px) {
    .Contenedor-Cuerpo{
        padding: 5vh 3vh 8vh 2vh;
    }
    .ContenedorPerfil{
        display: flex;
        flex-direction: column;
    }
    .ContenedorCambiarUsuario-Contraseña{
        border-top: none !important;
        border-right: none !important;
        min-height: auto !important;
        display: flex;
        justify-content: space-evenly;
    }
    .boton-seleccionado{
        border-right: 4px solid #B08D59 !important;
         border: 4px solid #B08D59; 
    }
    .Contenedor-Datos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Contenedor-Cambiar-Contraseña{
        padding: 4vh;
    }
  }

/*Estilos para el Boton*/
  .btn-Volver {
    display: inline-block;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    border: 2px solid #B08D59 !important;
    background-color: #F0E5D8 !important;
    color: black !important;
    white-space: nowrap;
}

.btn-Volver:hover {
    color: #F0E5D8 !important;
}

.btn-Volver:hover::after {
    width: 100%;

}

.btn-Volver::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 1s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;

    background: #B08D59 !important;
}  

/*Controla el tamaño del texto de error para que no se alargue el input*/
.Div-Contraseña{
    max-width: 231px;
}

.ContenedorPerfil{
    display: flex;
}

.ContenedorCambiarUsuario-Contraseña{
    border-top: 1px solid black;
    border-right: 1px solid black;
    min-height: 80vh;
}

.boton-seleccionado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #B08D59;
    height: 40px;
    background-color: #F0E5D8;
    border-right: 1vh solid #B08D59;
    transition: 0.5s;
}

.boton-desSeleccionado{
    display: flex;
    align-items: center;

    height: 40px;
    transition: 0.5s;
}
  