/* Resolución para Pantallas de Ordenador */
@media (min-width: 913px) {
    
  }

/* Resolución para Pantallas de Tablet */
@media (min-width: 768px) and (max-width: 912px) {
    
    .Contenedor-Datos{
        min-width: 30vh !important;
    }
    .ContenedorCambiarUsuario-Contraseña{
        min-height: 45vh !important;
    }
    .ContenedorPerfil{
    margin-top: 11vh !important;
    
    }
  }  



  @media (min-height: 400px) and (max-height: 1030px) {
    .ContenedorPerfil{
        margin-top: 19vh !important;
    }
  }

  

/* Resolución para Pantallas de Celulares */  
@media (max-width: 767px) {
    
    .ContenedorPerfil{
        display: flex;
        flex-direction: column;
        margin-top: 18vh !important;
    }
    .ContenedorCambiarUsuario-Contraseña{
        border-top: none !important;
        border-right: none !important;
        min-height: auto !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2) !important;
    }
    .boton-seleccionado{
        border-right: 4px solid #B08D59 !important;
         border: 4px solid #B08D59; 
    }
    .Contenedor-Datos{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0 !important;
        width: fit-content ;
        padding: 5vh !important;
        margin: 0 !important;
    }
    .Contenedor-Cambiar-Contraseña{
        padding: 3vh;
        margin: 0 !important;
    }
    .Contenedor-Para-Centrar{
        display: flex;
        justify-content: center !important;
        margin: 5vh 0 5vh 0vh !important;

    }
    .Contenedor-Cuerpo{
        margin: 3vh 0 3vh 0vh !important;
    }
  }

/*Estilos para el Boton*/
  .btn-Volver {
    display: inline-block;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    border: 2px solid #B08D59 !important;
    background-color: #F0E5D8 !important;
    color: black !important;
    white-space: nowrap;
    text-decoration: none;

}

.btn-Volver:hover {
    color: #F0E5D8 !important;
}

.btn-Volver:hover::after {
    width: 100%;

}

.btn-Volver::after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 1s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;

    background: #B08D59 !important;
}  

/*Controla el tamaño del texto de error para que no se alargue el input*/
.Div-Contraseña{
    max-width: 325px;
}

.ContenedorPerfil{
    display: flex;
    margin-top: 19vh;
}

.ContenedorCambiarUsuario-Contraseña{

    box-shadow: 2px -1px 4px 5px rgba(0, 0, 0, 0.2);
    min-height: 65vh;
}

.boton-seleccionado{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #B08D59;
    height: 40px;
    background-color: #F0E5D8;
    border-right: 1vh solid #B08D59;
    transition: 0.5s;
}

.boton-desSeleccionado{
    cursor: pointer;
    display: flex;
    align-items: center;

    height: 40px;
    transition: 0.5s;
}

.Contenedor-Datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 55vh;
    margin-left: 5vh;
    background-color: #F1F1F1;
    height: fit-content;
    padding: 3vh;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.Contenedor-Cambiar-Contraseña{
    margin-left: 5vh;
}

.Contenedor-Cuerpo{
    margin-left: 5vh;
}