/* Resolución para Pantallas de Celulares */  
@media (max-width: 767px) {
    .textoEmailFooter{
        font-size: 17px;
    }    
}

.footerclaro {
    background-color: #F0E5D8;
   
}
.footeroscuro {
    background-color: #090909;
   
}
.img-custom{
    object-fit: contain;
}

.textoEmailFooter{
    margin: 0 !important;
}