
.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.contenedor .carta {
    max-width: 300px;
    height: 215px;
    position: relative;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.contenedor .carta:hover{
    height: 420px;
}

.contenedor .carta .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 7px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contenedor .carta .imgBx img {
    max-width: 100%;
    border-radius: 4px;
    width: 100%;
}

.contenedor .carta .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.contenedor .carta:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.titulo {
    text-align: center;
    color: #B08D59;
}