body {
    background-image: url(../../../public/contactofondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav{
    background-color: white !important;
}
.tabla{
    width: 70%;
    margin: 2% auto;
    padding: 1% ;
    background-color: #F0E5D8;
}

.tablaDiv{
    background-color: aqua !important;
}

.cards{
    display: none;
}

table{
    width: fit-content;
}

.ContenedorTablaUsuario{
    overflow-x: auto;
}

.ContenedorBotonesTablaUsuarios{
    display: flex;
    justify-content: center;
}

.accordion-item{
    background-color: transparent !important;
}

.accordion-body{
    padding: 0;
}

.accordion-collapse{
    transition: 1s !important;
}

/* Resolución para Pantallas de Celulares */  
@media (max-width: 767px) {
    .ContenedorTablas{
        padding: 2vh;
    }
    .tabla{
        width: auto;
    }
  }

  /* Resolución para Pantallas de Tablet */
@media (min-width: 768px) {
    .accordion{
        pad: 1vh !important;
    }
    
  }  

  .accordion-button{
    background-color: #F0E5D8 !important;
}
